<section class="section section--about" id="about">
    <div class="container">
        <div class="trust">
            <h2 class="title title--md trust__title">We are what we are</h2>
            <ul class="trust__partners partners">
                <li class="partners__item">
                    <a class="partners__link" href="#" target="_blank" rel="noopener noreferrer">
                        <img class="partners__img" src="../img/trust-icon-logo-1.png" alt="100% all natural">
                    </a>
                </li>
                <li class="partners__item">
                    <a class="partners__link" href="#" target="_blank" rel="noopener noreferrer">
                        <img class="partners__img" src="../img/trust-icon-logo-2.png" alt="zero high">
                    </a>
                </li>
                <li class="partners__item">
                    <a class="partners__link" href="#" target="_blank" rel="noopener noreferrer">
                        <img class="partners__img" src="../img/trust-icon-logo-3.png" alt="ships to all 50 states">
                    </a>
                </li>
                <li class="partners__item">
                    <a class="partners__link" href="#" target="_blank" rel="noopener noreferrer">
                        <img class="partners__img" src="../img/trust-icon-logo-4.png" alt="lab tested">
                    </a>
                </li>
            </ul>
        </div>
        <div class="section__tabs">
            <div class="tabs-block">
                <input class="tabs-block__field" type="radio" name="tab" id="tab-1" checked>
                <input class="tabs-block__field" type="radio" name="tab" id="tab-2">
                <input class="tabs-block__field" type="radio" name="tab" id="tab-3">
    
                <nav class="tabs">
                    <label class="tab tab--1 title title--section tab__title" for="tab-1">
                        WHAT IS CBD?
                    </label>
                    <label class="tab tab--2 title title--section tab__title" for="tab-2">
                        BENEFITS
                    </label>
                    <label class="tab tab--3 title title--section tab__title" for="tab-3">
                        OUR DIFFERENCE
                    </label>
                </nav>
    
                <div class="tabs-body">
                    <article class="article article--about">
                        <div class="article__description">
                            <h3 class="title title--md article__title">WHAT IT IS AND HOW IT WORKS</h3>
                            <p class="article__text">CBD is short for cannabidiol. It is a phytocannabinoid found in hemp and known for supporting the body and mind in many ways.* Charlotte’s Web products have cannabinoids with CBD extract.</p>
                            <p class="article__text">Not to be confused with oil from hemp seeds (which doesn’t contain cannabinoids), CBD comes from the flowers and leaves of the hemp plant.</p>
                            <p class="article__text">Why does CBD work? The human body has a vast network of receptors, the endocannabinoid system.</p>
                        </div>
                        <div class="article__img-wrap">
                            <div class="article__img-block">
                                <img class="article__img" src="../img/about-img-1.jpg" alt="CBD how works">
                            </div>
                            <div class="article__img-block">
                                <img class="article__img" src="../img/about-img-2.jpg" alt="CBD how works">
                            </div>
                        </div>
                    </article>
                    <article class="article article--benefits">
                        <div class="article__description">
                            <h3 class="title title--md article__title">benefits</h3>
                            <p class="article__text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet veniam, porro assumenda accusantium velit laudantium dolore qui eius dignissimos nihil.</p>
                            <p class="article__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloribus animi voluptatum officia voluptatem at impedit ea explicabo, deleniti quis quos, nam dolorem obcaecati aliquid, libero quisquam numquam ad reprehenderit ratione?</p>
                            <p class="article__text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Natus, itaque?</p>
                        </div>
                        <div class="article__img-wrap">
                            <div class="article__img-block">
                                <img class="article__img" src="https://picsum.photos/800/600" alt="benefits">
                            </div>
                            <div class="article__img-block">
                                <img class="article__img" src="https://picsum.photos/900/600" alt="benefits">
                            </div>
                        </div>
                    </article>
                    <article class="article article--difference">
                        <div class="article__description">
                            <h3 class="title title--md article__title">our difference</h3>
                            <p class="article__text">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Atque quas eaque nostrum similique quam dolore accusantium beatae, sint nihil eos minus aperiam, suscipit, alias saepe!</p>
                            <p class="article__text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Accusamus incidunt ullam neque numquam provident doloribus cum, vel, laudantium quam voluptatibus corporis tempora sed obcaecati possimus libero eum, magnam asperiores. Veniam culpa at praesentium minus fugiat!</p>
                        </div>
                        <div class="article__img-wrap">
                            <div class="article__img-block">
                                <img class="article__img" src="https://picsum.photos/640/480" alt="benefits">
                            </div>
                            <div class="article__img-block">
                                <img class="article__img" src="https://picsum.photos/1024/768" alt="benefits">
                            </div>
                        </div>
                    </article>
                </div>
            </div>
        </div>
    </div>
</section>