<footer class="section section--center footer" id="contacts"> 
    <div class="container">
        <a href="index.html" class="logo logo--footer">cbd</a>
        <div class="footer__lists">
            <ul class="footer__list footer__list--policy policy">
                <li class="footer__item policy__item">
                    <a class="footer__link policy__link" href="#" target="_blank" rel="noopener noreferrer">Privacy Policy</a>
                </li>
                <li class="footer__item policy__item">
                    <a class="footer__link policy__link" href="#" target="_blank" rel="noopener noreferrer">Terms of Use</a>
                </li>
                <li class="footer__item policy__item">
                    <a class="footer__link policy__link" href="#" target="_blank" rel="noopener noreferrer">Return Policy</a>
                </li>
            </ul>
            <ul class="footer__list footer__list--social social">
                <li class="social__item">
                    <a href="https://www.facebook.com/" class="social__link" target="_blank" rel="noopener noreferrer">
                        <i class="fab fa-facebook-f"></i>
                    </a>
                </li>
                <li class="social__item">
                    <a href="https://twitter.com/" class="social__link" target="_blank" rel="noopener noreferrer">
                        <i class="fab fa-twitter"></i>
                    </a>
                </li>
                <li class="social__item">
                    <a href="https://www.youtube.com//" class="social__link" target="_blank" rel="noopener noreferrer">
                        <i class="fab fa-youtube"></i>
                    </a>
                </li>
            </ul>
            <ul class="footer__list footer__list--info info">
                <li class="info__item">
                    <a class="footer__link info__link" href="#" target="_blank" rel="noopener noreferrer">SHIPPING INFO</a>
                </li>
                <li class="info__item">
                    <a class="footer__link info__link" href="#" target="_blank" rel="noopener noreferrer">RETURNS / EXCHANGES</a>
                </li>
                <li class="info__item">
                    <a class="footer__link info__link" href="#" target="_blank" rel="noopener noreferrer">CONTACT</a>
                </li>
            </ul>
        </div>
        <form class="subscribe" method="POST" action="#">
            <h4 class="title">Subscribe to Newsletter</h4>
            <div class="subscribe__field">
                <input class="subscribe__input" type="email" name="email" placeholder="email">
                <button type="submit" class="subscribe__btn btn btn--arrows btn--form">
                    <svg width="25" height="13">
                        <use xlink:href="#arrow-next"></use>
                    </svg>
                </button>
            </div>
        </form>
        <p class="copyright">©copy 2018. cbd health.</p>
    </div>
</footer>