<section class="section section--intro section--bg" id="intro">
    <span class="text-out text-out--line">CBD Potion health</span>
    <div class="container">
        <div class="section__content section__content--intro">
            <h1 class="title title--main">Enhancing Life Excelling in Care</h1>
            <p class="subtitle">Choose Wisely. Choose CBD.</p>
            <a href="#" class="btn text-line" target="_blank" rel="noopener noreferrer">
                Start Shopping
            </a>
            <a href="#" class="section__btn section__btn--intro" target="_blank" rel="noopener noreferrer">
                <span>See all products</span>
                <svg width="20" height="10">
                    <use xlink:href="#arrow-next"></use>
                </svg>
            </a>
        </div>
    </div>
    <a href="#about" class="arrow-down">
        <svg width="30" height="16">
            <use xlink:href="#arrow-down"></use>
        </svg>
    </a>
</section>