<section class="section section--products section--center" id="products">
    <h2 class="title title--section section__title">cbd featured products</h2>
    <div class="container-slider">
        <div class="swiper-container swiper-container--products">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <div class="product">
                        <a href="#" class="product__link">
                            <div class="product__description">
                                <ul class="product__stars stars" data-stars="5">
                                    <li class="stars__star"><i class="fas fa-star"></i></li>
                                    <li class="stars__star"><i class="fas fa-star"></i></li>
                                    <li class="stars__star"><i class="fas fa-star"></i></li>
                                    <li class="stars__star"><i class="fas fa-star"></i></li>
                                    <li class="stars__star"><i class="fas fa-star"></i></li>
                                </ul>
                                <h4 class="title product__title">CBD 500 mg Orange Flavor Tincture</h4>
                                <div class="product__img-wrap">
                                    <img src="img/products-img-1.jpg" alt="product 1" class="product__img">
                                </div>
                            </div>
                            <div class="product__footer">
                                <div class="product__price price">
                                    <span class="price__currency-icon">$</span>
                                    <span class="price__amount">49.99</span>
                                    <span class="price__currency">usd</span>
                                </div>
                            </div>
                        </a>
                        <a href="#" class="btn btn--fill text-line product__btn" target="_blank" rel="noopener noreferrer">
                            Shop
                        </a>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="product">
                        <a href="#" class="product__link">
                            <div class="product__description">
                                <ul class="product__stars stars" data-stars="5">
                                    <li class="stars__star"><i class="fas fa-star"></i></li>
                                    <li class="stars__star"><i class="fas fa-star"></i></li>
                                    <li class="stars__star"><i class="fas fa-star"></i></li>
                                    <li class="stars__star"><i class="fas fa-star"></i></li>
                                    <li class="stars__star"><i class="fas fa-star"></i></li>
                                </ul>
                                <h4 class="title product__title">Black ICE CBD Muscle Rub 200 mg</h4>
                                <div class="product__img-wrap">
                                    <img src="img/products-img-2.jpg" alt="product 2" class="product__img">
                                </div>
                            </div>
                            <div class="product__footer">
                                <div class="product__price price">
                                    <span class="price__currency-icon">$</span>
                                    <span class="price__amount">49.99</span>
                                    <span class="price__currency">usd</span>
                                </div>
                            </div>
                        </a>
                        <a href="#" class="btn btn--fill text-line product__btn" target="_blank" rel="noopener noreferrer">
                            Shop
                        </a>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="product">
                        <a href="#" class="product__link">
                            <div class="product__description">
                                <ul class="product__stars stars" data-stars="5">
                                    <li class="stars__star"><i class="fas fa-star"></i></li>
                                    <li class="stars__star"><i class="fas fa-star"></i></li>
                                    <li class="stars__star"><i class="fas fa-star"></i></li>
                                    <li class="stars__star"><i class="fas fa-star"></i></li>
                                    <li class="stars__star"><i class="fas fa-star"></i></li>
                                </ul>
                                <h4 class="title product__title">CBD+Curcumin Coffee 750 mg</h4>
                                <div class="product__img-wrap">
                                    <img src="img/products-img-3.jpg" alt="product 3" class="product__img">
                                </div>
                            </div>
                            <div class="product__footer">
                                <div class="product__price price">
                                    <span class="price__currency-icon">$</span>
                                    <span class="price__amount">79.99</span>
                                    <span class="price__currency">usd</span>
                                </div>
                            </div>
                        </a>
                        <a href="#" class="btn btn--fill text-line product__btn" target="_blank" rel="noopener noreferrer">
                            Shop
                        </a>
                    </div>
                </div>
            </div>
            <div class="btn btn--arrows button-prev">
                <svg width="40" height="20">
                    <use xlink:href="#arrow-prev"></use>
                </svg>
            </div>
            <div class="btn btn--arrows button-next">
                <svg width="40" height="20">
                    <use xlink:href="#arrow-next"></use>
                </svg>
            </div>
        </div>
    </div>
</section>