<section class="section section--faqs" id="faqs">
    <div class="container">
        <div class="faqs-wrap">
            <h2 class="title title--section">Frequently asked questions</h2>
            <div class="faqs"> 
                <div class="faqs__tab question">
                    <input type="checkbox" class="question__field" id="tab1" name="tab-group">
                    <label for="tab1" class="question__title">What is Cannabidiol (CBD)?</label> 
                    <div class="question__content"> 
                        <p class="question__text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eligendi tempore, obcaecati libero perferendis dolorum velit laboriosam itaque nihil accusamus praesentium? Minima possimus tenetur id nihil?</p>
                    </div> 
                </div> 
                <div class="faqs__tab question">
                    <input class="question__field" type="checkbox" id="tab2" name="tab-group">
                    <label for="tab2" class="question__title">Is Hemp-Derived Cannabidiol (CBD) Legal?</label> 
                    <div class="question__content">
                        <p class="question__text">Because CBD from hemp has no psychoactive effects, the purchase, sales, or possession of hemp CBD products are completely legal in all 50 States.</p> 
                    </div>
                </div> 
                <div class="faqs__tab question">
                    <input class="question__field" type="checkbox" id="tab3" name="tab-group">
                    <label for="tab3" class="question__title">Are there any negative side effects?</label> 
                    <div class="question__content">
                        <p class="question__text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat quasi iusto nihil deleniti incidunt assumenda minima iste maxime culpa natus!</p> 
                    </div>
                </div>
                <div class="faqs__tab question">
                    <input class="question__field" type="checkbox" id="tab4" name="tab-group">
                    <label for="tab4" class="question__title">Do you offer a return policy?</label> 
                    <div class="question__content">
                        <p class="question__text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Consequuntur ea minima voluptatem ratione laboriosam. Voluptates perferendis ex consequatur, veniam rerum facilis deserunt accusamus molestias. Facere similique repellat distinctio nostrum beatae!</p> 
                    </div>
                </div>
            </div>
        </div>        
    </div>
</section>