<section class="section section--center section--testimonials" id="testimonials">
    <h2 class="visually-hidden">Testimonials</h2>
    <div class="swiper-container swiper-container--testimonials">
        <div class="swiper-wrapper">
            <div class="swiper-slide">
                <figure class="testimonial">
                    <picture class="testimonial__img-wrap">
                        <source srcset="../img/testimonials-img-sm.jpg" media="(max-width: 425px)">
                        <source srcset="../img/testimonials-img-md.jpg" media="(max-width: 768px)">
                        <source srcset="../img/testimonials-img-lg.jpg" media="(max-width: 1024px)">
                        <img src="../img/testimonials-img.jpg" alt="testimonials mark">
                    </picture>
                    <figcaption class="testimonial__blockquote-block">
                        <div class="container">
                            <blockquote class="testimonial__blockquote-wrap">
                                <ul class="testimonial__stars stars" data-stars="5">
                                    <li class="stars__star"><i class="fas fa-star"></i></li>
                                    <li class="stars__star"><i class="fas fa-star"></i></li>
                                    <li class="stars__star"><i class="fas fa-star"></i></li>
                                    <li class="stars__star"><i class="fas fa-star"></i></li>
                                    <li class="stars__star"><i class="fas fa-star"></i></li>
                                </ul>
                                <p class="testimonial__blockquote">I have tried another product after using this one successfully, and I am Back for good! The flavour, the lightness of the oil and the health benefits I have gotten with this oil are amazing!</p>
                            </blockquote>
                            <cite class="testimonial__cite text-line text-line--left">
                                mark j.
                            </cite>
                        </div>
                    </figcaption>
                </figure>
            </div>
            <div class="swiper-slide">
                <figure class="testimonial">
                    <picture class="testimonial__img-wrap">
                        <source srcset="https://picsum.photos/450/600" media="(max-width: 425px)">
                        <source srcset="https://picsum.photos/800/600" media="(max-width: 768px)">
                        <source srcset="https://picsum.photos/1280/720" media="(max-width: 1024px)">
                        <img src="../img/testimonials-img-2.jpg" alt="about monticello">
                    </picture>
                    <figcaption class="testimonial__blockquote-block">
                        <div class="container">
                            <blockquote class="testimonial__blockquote-wrap">
                                <ul class="testimonial__stars stars" data-stars="5">
                                    <li class="stars__star"><i class="fas fa-star"></i></li>
                                    <li class="stars__star"><i class="fas fa-star"></i></li>
                                    <li class="stars__star"><i class="fas fa-star"></i></li>
                                    <li class="stars__star"><i class="fas fa-star"></i></li>
                                    <li class="stars__star"><i class="fas fa-star"></i></li>
                                </ul>
                                <p class="testimonial__blockquote">I have tried another product after using this one successfully, and I am Back for good! The flavour, the lightness of the oil and the health benefits I have gotten with this oil are amazing!</p>
                            </blockquote>
                            <cite class="testimonial__cite">
                                <span class="line"></span>
                                <span>mark j.</span>
                            </cite>
                        </div>
                    </figcaption>
                </figure>
            </div>
            <div class="swiper-slide">
                <figure class="testimonial">
                    <picture class="testimonial__img-wrap">
                        <source srcset="https://picsum.photos/450/600" media="(max-width: 425px)">
                        <source srcset="https://picsum.photos/800/1000" media="(max-width: 768px)">
                        <source srcset="https://picsum.photos/1280/720" media="(max-width: 1024px)">
                        <img src="../img/testimonials-img-3.jpg" alt="about monticello">
                    </picture>
                    <figcaption class="testimonial__blockquote-block">
                        <div class="container">
                            <blockquote class="testimonial__blockquote-wrap">
                                <ul class="testimonial__stars stars" data-stars="5">
                                    <li class="stars__star"><i class="fas fa-star"></i></li>
                                    <li class="stars__star"><i class="fas fa-star"></i></li>
                                    <li class="stars__star"><i class="fas fa-star"></i></li>
                                    <li class="stars__star"><i class="fas fa-star"></i></li>
                                    <li class="stars__star"><i class="fas fa-star"></i></li>
                                </ul>
                                <p class="testimonial__blockquote">I have tried another product after using this one successfully, and I am Back for good! The flavour, the lightness of the oil and the health benefits I have gotten with this oil are amazing!</p>
                            </blockquote>
                            <cite class="testimonial__cite">
                                <span class="line"></span>
                                <span>tom j.</span>
                            </cite>
                        </div>
                    </figcaption>
                </figure>
            </div>
        </div>
        <div class="swiper-buttons">
            <div class="button-prev button-prev--bordered">
                <svg width="40" height="20">
                    <use xlink:href="#arrow-prev"></use>
                </svg>
            </div>
            <div class="button-next button-next--bordered">
                <svg width="40" height="20">
                    <use xlink:href="#arrow-next"></use>
                </svg>
            </div>
        </div>
    </div>
    <span class="text-out text-out--reverse">CBD every day</span>
</section>