.section {
    &--testimonials {
        padding: 0;
        background-color: $testimonials-bg;
        position: relative;

        .text-out {
            left: -170px;
            bottom: 50px;
        }
    }
}

.testimonial {
    margin: 0;
    position: relative;
    min-height: 100vh;
    @include flex($jc: center);

    &__img-wrap {
        display: block;
        @include posA(0,0,0,0);
        overflow: hidden;

        &:before {
            content: '';
            @include posA(0,0,0,0);
            background-color: rgba($gradint-bg, .6);
            z-index: 1;
        }
    }

    &__img {
        @include posA($left: 0, $bottom: 0, $right: 0);
        min-width: 100%;
        min-height: 100%;
    }

    &__blockquote-block {
        position: relative;
        z-index: 5;
        letter-spacing: $spaceX3;
        max-width: 830px;
        padding: $gap 15px;
        
        @media screen and (min-width: 576px) {
            padding-left: $gap;
            padding-right: $gap;
        }
    }

    &__blockquote-wrap {
        margin: 0;
    }

    &__stars {
        font-size: inherit;
        color: $testimonials-primary-color;
    }

    &__blockquote {
        margin-top: $gap;
        color: $secondary-color;
        max-height: 400px;
        overflow: hidden;
        @include clamp($clamp: 10);
    }
    &__cite {
        font-style: normal;
    }
}

.swiper-buttons {
    @include posA($left: 50%, $bottom: 0);
    z-index: 5;
    @include transform($delta_y: 0);
    display: none;
    max-width: 260px;
    width: 100%;

    @media screen and (min-width: 768px) {
        @include flex;
    }
}