.section {
    &--testimonials {
        padding: 0;
        background-color: $testimonials-bg;
        position: relative;   
    }
}

.testimonial {
    margin: 0;
    position: relative;
    min-height: 100vh;
    @include flex($jc: center);

    &:before {
        content: '';
        @include posA(0,0,0,0);
        background-color: rgba($gradint-bg, .6);
        z-index: 1;
    }

    &__img-wrap {
        display: block;
        @include posA(0,0,0,0);
        overflow: hidden;
    }

    &__img {
        min-width: 100%;
        min-height: 100%;
        @include posA($left: 0, $bottom: 0, $right: 0);
    }

    &__stars {
        font-size: inherit;
    }

    &__blockquote-block {
        position: relative;
        z-index: 5;
        letter-spacing: $spaceX3;
        max-width: 830px;
        
        @media screen and (min-width: 576px) {
            padding: 0 $gap;
        }
    }

    &__blockquote-wrap {
        margin: 0;
    }
    &__blockquote {
        margin-top: $gap;
        color: $secondary-color;
    }
    &__cite {
        font-style: normal;
    }
}

.swiper-buttons {
    @include posA($left: 50%, $bottom: 0);
    z-index: 5;
    @include transform($delta_y: 0);
    display: none;

    @media screen and (min-width: 768px) {
        @include flex;
    }

    &__prev, &__next {
        cursor: pointer;
        height: 100px;
        width: 130px;
        border: $border-width solid $secondary-color;
        @include flex($jc: center);
        @include tr;
        svg {
            fill: $secondary-color;
            @include tr;
        }
        @include hover {
            color: $primary-color;
            background-color: rgba($secondary-color, .5);
            border-color: $primary-color;
            svg {
                fill: $primary-color;
            }
        }
    }
    &__next {
        @include hover {
            svg {
                transform: translateX($gap);
            }
        }
    }
    &__prev {
        @include hover {
            svg {
                transform: translateX(-$gap);
            }
        }
    }
}