@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300;400&display=swap');

$body-ff: 'Oswald', sans-serif;

$body-bg           : #f7f8f3;
$section-bg        : #abcbe2;
$testimonials-bg   : #eaedde;
$product-footer-bg : #f1f1f1;
$gradient-bg       : #1c200b;
$gradient-bg-intro : linear-gradient(to bottom, #a2abb5 0%, transparent 20%, transparent 100%);

$secondary-color            : #fff;
$body-color                 : #000000;
$title-color                : #1c1c1b;
$primary-color              : #6e774a;
$nav-primary-color          : #9db892;
$tabs-primary-color         : #ced6af;
$product-footer-border      : #e1e1e1;
$testimonials-primary-color : #aab384;

$border-width : 1px;
$line-width   : 45px;
$line-widthX2 : 100px;
$gap          : 30px;

$space   : .06em;
$spaceX2 : .15em;
$spaceX3 : .2em;
$spaceX4 : .28em;