@import 'normalize';
@import 'variables';
@import 'mixins';

*, *:before, *:after { box-sizing: border-box; }
ul { list-style: none; margin: 0; padding: 0; }
a { text-decoration: none; color: inherit; }
p { margin: 0; }
img { object-fit: cover; max-width: 100%; }
h1, h2, h3, h4, h5, h6 { margin: 0; line-height: 1;}

html { font-size: 10px; scroll-behavior: smooth; }

body {
    @include font($body-ff, 1.8rem, $body-color, 300, 2.2);
    background-color: $body-bg;
}

.container {
    max-width: 1200px;
    padding: 0 15px;
    width: 100%;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    border: 0;
    clip: rect(0 0 0 0);
}

.logo {
    display: block;
    text-transform: uppercase;
    position: relative;
    z-index: 10;
    @include font(null, 3rem, $secondary-color, 400, 1);
    @include tr;
    @include hover {
        color: $primary-color;
        @include tr;
    }

    &--footer {
        color: $primary-color;
        font-size: 6rem;

        @include hover {
            color: $body-color;
            &:before, &:after {
                background-color: $body-color;
            }
        }

        &:before, &:after {
            content: '';
            @include posA($top: calc(50% - #{$border-width}));
            display: inline-block;
            width: calc((100% - 60px) / 3);
            height: $border-width * 2;
            background-color: $primary-color;
            @include tr;
        }
        &:before { left: 0; }
        &:after { right: 0; }
    }
}

.title {
    @include font($fc: $title-color, $fw: 400);
    text-transform: uppercase;
    
    &--main {
        @include font($fz: 4.5rem, $fc: $body-bg, $lh: 1.35);
        letter-spacing:  $spaceX4 / 2;
        max-height: 243px;
        overflow: hidden;
        @include clamp($clamp: 4);

        @media screen and (min-width: 992px) {
            font-size: 5.5rem;
            max-height: 150px;
            letter-spacing:  $spaceX4;
        }
    }
    &--section {
        font-size: 2rem;
        letter-spacing: $space / 1.5;
        line-height: 1.6;

        @media screen and (min-width: 576px) {
            font-size: 2.5rem;
        }
        @media screen and (min-width: 768px) {
            font-size: 3rem;
            letter-spacing: $space;
        }
        @media screen and (min-width: 992px) {
            letter-spacing: $spaceX3;
            line-height: 2.2;
        }
    }
    &--md {
        font-size: 2.4rem;
        letter-spacing: $spaceX3;
    }
    &--sm {
        letter-spacing: .15em;
    }
}

.subtitle {
    font-size: 2.4rem;
    letter-spacing: $spaceX4;
    margin-top: 15px;
    margin-bottom: 45px;
    text-transform: capitalize;
}

.text-line {
    @include flex($df: inline-flex);
    position: relative;
    color: $secondary-color;
    text-transform: uppercase;

    &:after {
        content: '';
        display: inline-block;
        @include posA(calc(50% - #{$border-width}), $right: 1.75em);
        width: $line-width;
        height: $border-width * 2;
        background-color: $secondary-color;
        @include tr;
    }

    &--left {
        &:after {
            right: 100px;
        }
    }
}

.btn {
    // text-align: center;
    @include flex($df: inline-flex);
    @include font(null, 2rem, $secondary-color, 400, 1);
    max-width: 270px;
    width: 100%;
    min-height: 70px;
    background-color: transparent;
    border: $border-width solid $nav-primary-color;
    padding: 1em calc(1.75em + #{$line-width}) 1em 1.75em;
    text-transform: uppercase;
    cursor: pointer;
    @include tr;
    position: relative;

    

    @include hover {
        color: $primary-color;
        background-color: rgba($secondary-color, .6);
        border-color: $primary-color;
        &:after {
            background-color: $primary-color;
        }
    }

    &--fill {
        background-color: $primary-color;
        max-width: 190px;
    }
    &--arrows {
        color: $primary-color;
        max-width: ($gap-footer * 3);
        border-color: transparent;
        min-height: auto;
        height: 100%;
        justify-content: center;
        padding: 1em;

        svg {
            fill: $primary-color;
            width: 100%;
        }

        &:after {
            display: none;
        }
        &:before {
            content: '';
            display: inline-block;
            @include posA(10%, $left: 0);
            height: 80%;
            width: $border-width * 2;
            background-color: $nav-primary-color;
            @include tr;
        }
        @include hover {
            background-color: $primary-color;
            svg {
                fill: $body-bg;
            }
            &:before {
                background-color: transparent;
            }
        }
    }
}

.text-out {
    font-size: 2.6rem;
    text-transform: uppercase;
    letter-spacing: .08em;
    color: $secondary-color;
    @include posA($bottom: 0, $left: $line-widthX2);
    transform-origin: bottom left;
    transform: rotate(-90deg);
    display: none;
    z-index: 5;

    &--line {
        bottom: calc(#{$line-widthX2} + 30px);
        left: 100px;
        &:before {
            content: '';
            display: inline-block;
            @include posA(calc(50% - #{$border-width}), $left: calc(-#{$line-widthX2} - 30px));
            width: $line-widthX2;
            height: $border-width * 2;
            background-color: $secondary-color;

        }
        // @include tr;
    }

    &--reverse {
        font-size: 2.4rem;
        left: -110px;
        bottom: 40px;
        transform: rotate(90deg);
        transform-origin: bottom right;
    }

    @media screen and (min-width: 576px) {
        display: inline-block;
    }
    @media screen and (min-width: 992px) {
        // left: $line-width * 2;
    }
    @include hover {
        color: $body-color;
        background-color: transparent;
        border-color: transparent;
    }
}

.section {
    padding: 100px 0 50px;
    @include flex($jc: center);

    &--bg {
        background-color: $section-bg;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }
    &--center {
        text-align: center;
    }

    &__title {
        text-align: center;
        flex-basis: 100%;
    }
}

@import 'header';
@import 'intro';
@import 'about';
@import 'products';
@import 'questions';
@import 'testimonials';
@import 'socials';
@import 'footer';







